# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nuxiinkfwffindrfejvt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51eGlpbmtmd2ZmaW5kcmZlanZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxOTg5MzQsImV4cCI6MjA5NDc3NDkzNH0.M0AQ78ovVU-zzgD2MDNmUeRhXFtG2vD2sJrDsfmWn2Q
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51eGlpbmtmd2ZmaW5kcmZlanZ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTE5ODkzNCwiZXhwIjoyMDk0Nzc0OTM0fQ.c4zgiQhAgizK3DpUXItSzoqW4v576dGWhRyqqfEgFec

# Firebase Cloud Messaging
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBYP10NIzezOKKAngcEnZnp-IvFshOPDuY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sortyx-356dd.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=sortyx-356dd
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sortyx-356dd.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=599292825401
NEXT_PUBLIC_FIREBASE_APP_ID=1:599292825401:web:c609ac2787b0c628f962e8
NEXT_PUBLIC_FIREBASE_VAPID_KEY=BOepb8rzMRKlTptxcNaCdAC8j17Pz6jR-wYFMYnsJ02rcZy2uoaxCnZ-w8CwFsR-6sfYlgTFnvPInxq65iHIJvg
